<div observeVisibility [threshold]="0" (onDisplay)="initialAnimation()">
    <h2 class="subheading  tag subheading__tag inline-flex" #subheading  [ngClass]="{'subheading__tag--h3 h3': isH3}">
        <span *ngFor="let character of characters;let i=index" class="subheading__character animate__animated visibility-hidden" hover [toogleHoverClass]="['animate__animated','animate__rubberBand','warn']" [ngClass]="{'ml-2': character===' '}">
            {{character}}
        </span>
    </h2> 
</div>






