<div class="sidebar">
    <div class="sidebar__container">
    
        <button aria-label="Menu" class="sidebar__button">
            <span class="iconify " data-icon="bx:bx-menu-alt-right"></span>
        </button>
    
        <button aria-label="Menu" class="sidebar__sound flex space-between align-center">
            <span class="iconify" data-icon="akar-icons:sound-on">
            </span>
            <span class="sidebar__sound-text">Sound</span>
            <span>ON</span>

        </button>

        <!-- <button aria-label="Menu" class="sidebar__sound sidebar__sound--off flex space-between align-center">
            <span class="iconify" data-icon="akar-icons:sound-off"></span><span>OFF</span>

        </button> -->
    </div>
</div>




