@use '../../../../scss/utilities' as *;

.sidebar{
    
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    border: 1px solid red;
    width: 60vw;
    background-color: var(--background);

    .logo__image{
        max-width: 100%;
    }
    
}



