@use '../../../../scss/utilities' as *;
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 20rem;

    &__text{
        font-size: 1.2rem;
        color: white;
        text-align: center;
       
    }
    @include breakpoint(large) {
    
        .logo__text{
            font-size: 1.4rem;
        }
    }
    

    
}

.logo__image{
    max-width: 18rem;
    max-width: 100%;
}



