@use '../../../../scss/utilities' as *;
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 20rem;
}

.logo__image{
    max-width: 18rem;
    max-width: 100%;
}

.logo__text{
    font-size: 1.2rem;
}
@include breakpoint(large) {
    
    .logo__text{
        font-size: 1.2rem;
       
    }
}

