/*Animations*/
.delay-0{
    animation-delay: 0ms!important;
}
.delay-100{
    animation-delay: 100ms;
}
.delay-200{
    animation-delay: 200ms;
}
.delay-300{
    animation-delay: 300ms;
}
.delay-400{
    animation-delay: 400ms;
}

.delay-500{
    animation-delay: 500ms;
}
.delay-600{
    animation-delay: 600ms;
}
.delay-700{
    animation-delay: 700ms;
}
.delay-800{
    animation-delay: 800ms;
}
.delay-900{
    animation-delay: 900ms;
}
.delay-1000{
    animation-delay: 1000ms;
}
.delay-1100{
    animation-delay: 1100ms;
}
.delay-1200{
    animation-delay: 1200ms;
}
.delay-1300{
    animation-delay: 1300ms;
}
.delay-1400{
    animation-delay: 1400ms;
}
.delay-1500{
    animation-delay: 1500ms;
}
.delay-1600{
    animation-delay: 1600ms;
}
.delay-1700{
    animation-delay: 1700ms;
}
.delay-1800{
    animation-delay: 1800ms;
}
.delay-1900{
    animation-delay: 1900ms;
}
.delay-2000{
    animation-delay: 2000ms;
}
.delay-2100{
    animation-delay: 2100ms;
}
.delay-2200{
    animation-delay: 2200ms;
}