<section id="hero" class="hero container">
         
    <div class="hero__welcome tag tag-heading">
      <h1 class="hero__title" aria-label="Hi,">
          <span>H</span>
          <span>i,</span>
      </h1>
      <h2 class="hero__title" aria-label="I'm Frank">
        <span>I'</span>
        <span>m</span>
        <span class="hero__title--red"> F</span>
        <span class="hero__title--blue">r</span>
        <span class="hero__title--red">a</span>
        <span class="hero__title--blue">n</span>
        <span class="hero__title--red">k</span>
      </h2>
      <h3 class="hero__title" aria-label="Web developer">
        <span>W</span>
        <span>e</span>
        <span>b</span>
        <span> d</span>
        <span>e</span>
        <span>v</span>
        <span>e</span>
        <span>l</span>
        <span>o</span>
        <span>p</span>
        <span>e</span>
        <span class="tag tag-heading--close">r</span>
      </h3>
    </div>
  
    <p class="hero__text tag tag-paragraph">Front End Developer</p>
    <div>
      <button class="hero__button btn-outline btn-outline--primary">Contact Me!</button>
    </div>
  
    <app-scroll-down></app-scroll-down>
    
  </section>
