<section id="hero" class="hero container">
         
    <div class="hero__welcome  tag tag-heading">
      <h1 class="hero__title inline-flex " aria-label="Hi,">
          <span *ngFor="let character of splitWord('Hi,');let i=index" class="{{'hero__title-word animate__animated  animate__bounceIn'+initialAnimationDelay(i*100)}}" hover [toogleHoverClass]="['animate__animated','animate__rubberBand','keyword']">{{character}}</span>
      </h1>
      <h2 class="hero__title flex" aria-label="I'm Frank">
        <span *ngFor="let character of splitWord('I\'m'); let i=index" class="{{'hero__title-word animate__animated  animate__bounceIn'+initialAnimationDelay((i+4)*100)}}" hover [toogleHoverClass]="['animate__animated','animate__rubberBand','keyword']">{{character}}</span>

        <span class="{{'hero__title--red hero__title-word ml-1 animate__animated  animate__bounceIn'+initialAnimationDelay(700)}}" hover [toogleHoverClass]="['animate__animated','animate__rubberBand','keyword']">F</span>
        <span class="{{'hero__title--blue hero__title-word hero__title-word--warn animate__animated  animate__bounceIn'+initialAnimationDelay(800)}}" hover [toogleHoverClass]="['animate__animated','animate__rubberBand','warn']">r</span>
        <span class="{{'hero__title--red hero__title-word animate__animated  animate__bounceIn'+initialAnimationDelay(900)}}" hover [toogleHoverClass]="['animate__animated','animate__rubberBand','keyword']">a</span>
        <span class="{{'hero__title--blue hero__title-word hero__title-word--warn animate__animated  animate__bounceIn'+initialAnimationDelay(1000)}}" hover [toogleHoverClass]="['animate__animated','animate__rubberBand','warn']">n</span>
        <span class="{{'hero__title--red hero__title-word animate__animated  animate__bounceIn'+initialAnimationDelay(1100)}}" hover [toogleHoverClass]="['animate__animated','animate__rubberBand','keyword']">k</span>
      </h2>
      <h3 class="hero__title tag tag-heading--close" aria-label="Web developer">
        <span class="inline-flex">
          <span *ngFor="let character of splitWord('Web');let i=index" class="{{'hero__title-word animate__animated  animate__bounceIn'+initialAnimationDelay((i+11)*100)}}" hover [toogleHoverClass]="['animate__animated','animate__rubberBand','keyword']">{{character}}</span>
          <span class="mr-2"></span>
        </span>
        <span class="inline-flex">
          <span *ngFor="let character of splitWord('Developer'); let i=index" class="{{'hero__title-word animate__animated  animate__bounceIn'+initialAnimationDelay((i+14)*100)}}" hover [toogleHoverClass]="['animate__animated','animate__rubberBand','keyword']">{{character}}</span>
        </span>
          
      </h3>
    </div>

   
  <!--tag tag-heading--close-->
    <p class="hero__text tag tag-paragraph animate__animated animate__fadeInUp  delay-1000">Front End Developer</p>
    <div>
      <button class="hero__button btn-outline btn-outline--primary animate__animated animate__fadeInUp  delay-1100">Contact Me!</button>
    </div>
    
  
    <app-scroll-down></app-scroll-down>
    
  </section>
