/*scroll down*/
.scroll-down{
    // border: 1px solid red;
    font-size: 1.4rem;
    writing-mode: vertical-rl;
    position: absolute;
    bottom: 1rem;
    animation-iteration-count: infinite;
  
}
.scroll-down--right{
    right: 2rem;
}


.shake{
    animation: .5s shaker infinite alternate-reverse linear;
}

@keyframes shaker{
    from {
        transform: translateY(-1rem);
    }
    to{
        transform: translateY(1rem);
    }
}
