@use '../utilities' as *;
@use '../global/variables' as *;

h1,
h2,
h3,p {
  margin: 0;
//   line-height: 1.1;
}
 p{
   position: relative;
 }

a,
a:visited,
a:active {
  text-decoration: none;
}
li{
  list-style: none;
}

/*TagsV2*/
.tag::before,.tag::after{
  position: absolute;
  color: var(--tags);
  font-family: var(--font-la-belle-aurore);
  font-weight: 500;
  font-style: italic;
  font-size: 1.8rem;
 
}

@include breakpoint(large){
  .tag::before,.tag::after{
    
    font-size: 1.8rem;
    // left: 2.6rem+$spacer;
  }
}

.tag-paragraph::before{
  content: '<p>';
  top: -2.2rem;
}

.tag-paragraph::after{
  content: '</p>';
  // margin-top: 3rem;
  bottom: -2.5rem;
  
  left: 0;
}







