<div class="menu">

    <!-- <div class="logo">
        <picture>
            <source loading="lazy" srcset="../../../../assets/images/logo.webp" type="image/webp">
            <img loading="lazy" class="logo__image" src="../../../../assets/images/logo.png" alt="logo FMV">
        </picture>
        <p class="logo__text">Web Developer</p>
    </div> -->
    <app-logo></app-logo>
  
    <nav class="menu__nav">
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
        <a href="#">Resume</a>
    </nav>
       

    <div class="menu__social">
        <a href="#" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
            <span class="iconify" data-icon="akar-icons:github-fill"></span>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer" aria-label="twitter">
            <span class="iconify" data-icon="akar-icons:twitter-fill"></span>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Linkedin">
            <span class="iconify" data-icon="akar-icons:linkedin-fill"></span>
        </a>
    </div>
</div>
