<div class="menu" [ngClass]="{'side-menu': isSideMenu}">

    <app-logo></app-logo>
  
    <nav class="menu__nav">
        <a href="#projects">Projects</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <a href="../../../../assets/cv_en.pdf">Resume</a>
    </nav>
       

    <div class="menu__social">
        <a href="https://github.com/FranklinMoralesv/personalWebV2" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
            <span class="iconify" data-icon="akar-icons:github-fill"></span>
        </a>
        <a href="https://twitter.com/frankmoralesv" target="_blank" rel="noopener noreferrer" aria-label="twitter">
            <span class="iconify" data-icon="akar-icons:twitter-fill"></span>
        </a>
        <a href="https://www.linkedin.com/in/franklinmv/" target="_blank" rel="noopener noreferrer" aria-label="Linkedin">
            <span class="iconify" data-icon="akar-icons:linkedin-fill"></span>
        </a>
    </div>
</div>
