/* You can add global styles to this file, and also import other style files */
@use './scss/global' as *;
@use './scss/utilities' as *;


/**/
.btn-outline{
    font-family: var(--font-open-sans);
    font-size: 1.4rem;
    background-color: transparent;
    padding: 0.8rem 3.7rem;

}

.btn-outline:hover{
    transition: 0.6s color background-color;
    color: var(--gray-background);
    background-color: darken($color: #08FDD8, $amount: 20%);
}

.btn-outline--primary{
    color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-outline--secondary{
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

@include breakpoint (medium){
    .btn-outline{
        font-size: 1.6rem;
    }
}

.text{
    font-size: 1.4rem;
    margin-top: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    // border: 1px solid green;
}
@include breakpoint(large) {
    .text{
        font-size: 1.6rem;
        
    }
}



.link,.keyword{
    color: var(--primary);
}
.link:hover,.keyword:hover{
    
    color: darken($color: #08FDD8, $amount: 20%);
}
.warn{
    color: var(--secondary);
}


/*Utilities*/
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.inline-block{
    display: inline-block;
}
.inline-flex{
    display: inline-flex;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}
.visibility-hidden{
    visibility: hidden;
}
.visibility-visible{
    visibility: visible!important;
}

.section-tags::before{
    content: '<section>';
    top: 5.5rem;
    left: 2rem;
}
.section-tags::after{
    content: '</section>';
    bottom: 0;
    left: 2rem;
}

.mr-1{
    margin-right: 1rem;
}
.mr-2{
    margin-right: 2rem;
}
.ml-1{
    margin-left: 1rem;
}
.ml-2{
    margin-left: 2rem;
}




/* Hide scrollbar for Chrome, Safari and Opera */
.no-scroll-bar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.k:hover{
    transition: 1s all;
    background-color: var(--primary);
    color: var(--gray-background);
}

