.spinner{
    width: 4rem;
    height: 4rem;

    position: relative;

    &__half{
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1rem solid transparent;
      
        border-top-color: var(--primary);
        border-radius: 50%;

        animation: spinnerTop linear 1.2s infinite;

    }
    
    &__half--bottom{
        border: 10px solid transparent;
        border-bottom-color: var(--primary);
        animation: spinerBottom linear 1.2s infinite;
    }
   
}

@keyframes spinnerTop{
    0%{
        transform: rotate(0deg);
        border-width: 0.1rem;
    }
    50%{
        transform: rotate(180deg);
        border-width: 0.5rem;
    }
    100%{
        transform: rotate(360deg);
        border-width: 0.1rem;
    }
}

@keyframes spinerBottom{
    0%{
        transform: rotate(0deg);
        border-width: 0.5rem;
    }
    50%{
        transform: rotate(180deg);
        border-width: 0.1rem;
    }
    100%{
        transform: rotate(360deg);
        border-width: 0.5rem;
    }
}